html {
    background-color: #ffffff;
    padding: 20px 5px 20px 5px;
}

body {
    background-color: #E7E5E3;
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


h1, h2 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

#img-div {
    background-color: #FAF8F5;
    padding: 20px;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
}

#img-caption {
    padding-top: 15px;
}

main {
    width: 100%;
    padding: 20px;
}

main ul {
    text-align: left;
}

main li {
    padding: 10px 0 10px 0;
}

@media (min-width: 576px) {
    main {
        width: 600px;
        padding: 20px;
    }     
}